<div class="container">
<h1>Profile</h1>
<p>Email: <%= @user.email %></p>
  <h1>To Do List:<h1>
    <div class="table-responsive">
      <table class="table table-hover">
        <%= render @user.items %>
      </table>
    </div>
  <div class='new-item'>
    <%= render 'items/form', item: Item.new, user: @user %>
  </div>
</div>
